/target/
/resources/debug
/resources/changes
/resources/loot/unknow/*
/resources/model
/lib
/app
/debug/
.idea
/logs
/bdofishbot-bot/logs/
/bdofishbot-gui/logs/
/bdofishbot-utils/logs/
/bdofishbot-gui/target/
/bdofishbot-bot/target/
/bdofishbot-utils/target/
*.iml
/bdofishbot/target/
