name: Update test build
on:
  push:
    branches: [ dev ]
  workflow_dispatch:
jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - name: Build application
        run:
          ./mvnw -Dmaven.test.skip=true clean package

      - name: Update version for update utility
      - run: cp bdofishbot/target/blackdesert-fishbot.zip ~/docker-volume/uat/fishing-resources/blackdesert-fishbot.zip
      - run: cp bdofishbot-base/target/classes/version ~/docker-volume/uat/fishing-resources/version.txt